html {
    background-color: #1f2937;
    color:  #DCDCDC;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator-container {
    width: 400px;
    height: 600px;
    background-color: #d1d5db;
    margin: 100px auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.operation-screen-container {
    width: 360px;
    height: 120px;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
}

.screen-top {
    flex: 1;
    background-color: rgb(69, 105, 102);
    word-wrap: break-word;
    text-align: right;
    min-height: 0;
    border-radius: 10px 10px 0px 0px;
}

.screen-bottom {
    flex: 1;
    background-color: rgb(69, 105, 102);
    word-wrap: break-word;
    text-align: right;
    min-height: 0;
    border-radius: 0px 0px 10px 10px;
}

.line-container {
    width: 360px;
    height: 70px;
    display: flex;
    gap: 10px;
}

button {
    background-color: #1f2937;
    border-radius: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #DCDCDC;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: none;
}

button#Backspace {
    background-color: #aaf;
}

button#Delete {
    background-color: #d88;
}